app/server/workflow.json
{
  "name": "Trend Crawler Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crawl-niche",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "options": {
          "queryParameters": [
            {
              "name": "q",
              "value": "={{$json[\"body\"][\"niche\"]}}"
            },
            {
              "name": "api_key",
              "value": "={{$credentials.serpapiApi.apiKey}}"
            }
          ]
        }
      },
      "name": "Fetch Search Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "temperature": 0.7,
        "options": {},
        "messages": [
          {
            "role": "system",
            "content": "You are an expert Trend Analyzer. Extract from the following search results five trending angles and details in JSON."
          },
          {
            "role": "user",
            "content": "Search data: {{$node[\"Fetch Search Results\"].json}}"
          }
        ],
        "output": "choices[0].message.content"
      },
      "name": "OpenAI: Extract Trends",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { report: $json } }];"
      },
      "name": "Format Report",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$env.NESTJS_API_URL}}/api/trends",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{{ report: $json[\"report\"], niche: $json[\"report\"].niche }}}"
      },
      "name": "Send to NestJS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "responseData": "={{ $json[\"report\"] }}",
        "responseCode": 200,
        "responseHeaders": {
          "Content-Type": "application/json"
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Search Results": {
      "main": [
        [
          {
            "node": "OpenAI: Extract Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Extract Trends": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send to NestJS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to NestJS": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "credentials": {
    "serpapiApi": {
      "id": "SERPAPI_CREDENTIAL_ID",
      "name": "serpapiApi"
    },
    "openAiApi": {
      "id": "OPENAI_CREDENTIAL_ID",
      "name": "openAiApi"
    }
  }
}
